@mixin generic-queries {
  @media (orientation: portrait) {
    :root {
      --nickname-size: calc(85vw);
    }

    .nickname {
      width: var(--nickname-size);
    }
  }

  @media (orientation: landscape) {
    :root {
      --nickname-size: calc(15vh);
    }

    .nickname {
      height: var(--nickname-size);
    }
  }
}

@mixin mobile-ui {
  :root {
    --main-header-height: calc(30px + 2vh);
    --main-footer-height: var(--main-header-height);
    --main-footer-icon-size: calc(var(--main-footer-height) * 0.25 + 0.5rem);
    --main-nav-link-font-size: 20vw;
    --main-nav-link-font-size-post-animation: 18vw;
    --main-nav-link-margin-left: 0;
    --full-terminal-width: 95vw;
    --terminal-font-size: 11px;
    --full-terminal-height: calc(15vh + var(--terminal-font-size) * 8);
  }

  .main-nav {
    display: flex; // block
    align-items: center;
    width: inherit;
  }

  .page-selector {
    margin-bottom: 0.5rem;
  }

  .main-footer {
    justify-content: center;
    flex-direction: column-reverse;
    row-gap: calc(var(--main-footer-height) * 0.01);
    height: var(--main-footer-height);
  }

  .title {
    margin: 0;
    font-size: calc(var(--main-footer-icon-size) - 5px);
    text-wrap: nowrap;
  }

  .links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: var(--main-footer-icon-size);
    width: inherit;
    margin: 0;
  }

  .links-container > a {
    height: var(--main-footer-icon-size);
  }

  // Does not meet desktop's layout requirements, yet is not portrait oriented.
  // This is meant for low resolutions with odd ratios, like 299x850. Too small
  // to accommodate the terminal animation using the desktop layout and too wide
  // to look good with either without tinkering.
  // FIXME Turn media query values into scss variables.
  @media (max-height: 300px) and (min-width: 300px) {
    :root {
      --main-nav-link-font-size: 2.5rem;
      --main-nav-link-font-size-post-animation: 2rem;
      --full-terminal-width: 180px;
    }
  }

  @media (min-height: 700px) {
    :root {
      --full-terminal-height: 300px;
    }
  }

  @media (max-height: 300px) {
    :root {
      --full-terminal-height: 50px;
    }
  }

  // Tried to be cheap on amount of HTML elements because it "seems more professional",
  // I said to myself. Well, now the amount of CSS required to mimic the behavior of
  // nesting divs increases exponentially the closer an element is from being a direct
  // child of body. Have to admit how much that sucks, but at least I'm being forced to
  // learn CSS trickery. Plus, refactoring code that looks "not thhaaatt bad" cripples
  // me out of boredom.
  @media (max-width: 150px), (max-width: 300px) and (max-height: 250px) {
    :root {
      --min-content-height: 450px;
      --main-header-height: 40px;
      --main-footer-height: var(--main-header-height);
      --main-footer-icon-size: 18px;
      --main-nav-link-font-size: 30px;
      --main-nav-link-font-size-post-animation: 26px;
      --main-nav-link-margin-left: 0;
      --full-terminal-width: 130px;
      --full-terminal-height: 100px;
      --terminal-font-size: 10px;
      --nickname-size: 145px;

      /* prettier-ignore */
      --main-nav-height: calc(
        var(--min-content-height)
        - var(--main-header-height)
        - var(--main-footer-height)
      );
    }

    .main-footer {
      min-width: 150px;
      position: static;
    }

    .main-header {
      min-width: 150px;
      min-height: calc(var(--main-header-height) + var(--main-nav-height));
    }

    .main-nav {
      height: var(--main-nav-height);
    }

    @media (max-height: 450px) {
      :root {
        --min-content-height: 250px;
      }
    }
  }

  // @media (max-height: 550px), (max-width: 320px) {
  //   :root {
  //     --full-terminal-height: calc(30vh);
  //   }

  //   .main-footer .title {
  //     font-size: 1.35rem;
  //   }
  // }
}

@mixin desktop-ui {
  :root {
    --main-nav-link-font-size: calc((var(--main-header-height) + 1vw + 1vh) * 1.3);
    --main-nav-link-font-size-post-animation: calc(
      var(--main-nav-link-font-size) * 0.75
    );
    --main-nav-link-margin-left: calc(var(--main-nav-link-font-size) * 0.4);
    --full-terminal-width: calc(var(--main-nav-link-font-size) * (e * 1.7));
    --full-terminal-height: calc(var(--main-footer-height) * e * pi);
    --main-nav-link-leftmargin: 6rem;
    --terminal-font-size: calc(
      (var(--full-terminal-height) * 0.01 + var(--full-terminal-width) * 0.01) * 1.5
    );
  }

  .main-nav {
    display: inline-flex;
    align-items: unset;
    width: unset;
  }

  .page-selector {
    margin-bottom: calc(var(--main-nav-link-margin-left) * 0.4);
  }

  .main-footer {
    justify-content: unset;
    flex-direction: unset;
    height: var(--main-footer-height);
  }

  .title {
    margin-right: auto;
    margin-left: calc(var(--main-footer-title-size) * 0.5);
    font-size: var(--main-footer-title-size);
  }

  .title-container {
    margin-bottom: unset;
  }

  .links-container {
    display: inline-flex;
    flex-direction: unset;
    width: calc(var(--main-footer-icon-size) * 5);
    margin-bottom: unset;
  }

  .links-container > a {
    height: var(--main-footer-icon-size);
  }

  @media (max-width: 550px) and (max-height: 600px) {
    :root {
      --main-footer-height: 4vh;
      --main-footer-icon-size: calc(var(--main-footer-height) * 0.1 + 0.8rem);
      --main-footer-title-size: calc(var(--main-footer-height) * 0.4);
    }

    .links-container {
      width: 40vw;
      justify-content: center;
      column-gap: var(--main-footer-icon-size);
    }

    .title {
      width: 60vw;
      margin: 0;
      text-align: center;
      font-size: var(--main-footer-icon-size);
    }
  }

  @media (max-width: 650px) {
    :root {
      --full-terminal-width: calc(100vw - var(--main-nav-link-margin-left) * 2);
      --terminal-font-size: 12px;
    }
  }

  @media (max-height: 1366px), (max-aspect-ratio: 0.5/1), (max-aspect-ratio: 1/0.5) {
    :root {
      --main-header-height: calc(7vh + 1rem);
      --main-footer-height: calc(4vh + 0.8rem);
    }
  }

  @media (max-height: 550px) {
    :root {
      --full-terminal-height: calc(30vh);
    }
  }
}
