$main-duration: 0.5s;
$main-delay: 1.5s;

@keyframes nickname {
  from {
    filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.4));
    height: var(--nickname-size);
  }

  to {
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    height: calc(var(--main-header-height) * 0.5);
  }
}

@keyframes footer {
  to {
    transform: translateY(0);
  }
}

@keyframes hide-page-selector {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes terminal-function {
  from {
    font-size: var(--main-nav-link-font-size);
  }

  to {
    font-size: var(--main-nav-link-font-size-post-animation);
  }
}

@keyframes terminal-show {
  to {
    width: var(--full-terminal-width);
    height: var(--full-terminal-height);
    padding: 0.3rem;
    border-radius: 0.5rem;
    border-width: 2px;
  }
}

@keyframes terminal-command-show {
  to {
    transform: scale(1);
  }
}

@keyframes header {
  to {
    height: var(--main-header-height);
  }
}

.nickname {
  filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.4));
  animation: #{$main-duration} ease #{$main-delay} 1 normal forwards paused nickname;
}

.main-footer {
  animation: #{$main-duration} ease #{$main-delay} 1 normal forwards paused footer;
}

.main-header {
  animation: #{$main-duration} ease #{$main-delay} 1 normal forwards paused header;
}

.hide-page-selector {
  animation: #{$main-duration} ease 0s 1 normal forwards paused hide-page-selector;
}

.page-selector {
  animation: 0.3s ease 0s 1 normal forwards paused terminal-function;
}

.terminal-show {
  animation: #{$main-duration} ease #{$main-duration} 1 normal forwards running
    terminal-show;
}

.terminal-command-show {
  display: block;
  animation: 0.2s ease 0s 1 normal forwards running terminal-command-show;
}

.animate {
  animation-play-state: running;
}
