@use "style/colors";
@use "layouts";

:root {
  font-size: 16px;
  --nickname-base-duration: 0.5s;
  --nickname-base-delay: 1.5s;
  --main-footer-icon-size: calc(var(--main-footer-height) * 0.65);
  --main-footer-title-size: calc(var(--main-footer-height) * 0.5);
  --main-nav-link-hide-speed: 0.5s;
  --monospace-font: "DM Mono", monospace;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d6d6d6;
  overflow-x: hidden;
  overflow-y: hidden;
}

a:active,
a:link,
a:visited,
a:hover {
  color: unset;
  text-decoration: none;
}

.main-header {
  height: 100vh;
}

.nickname-container {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: inherit;
  height: inherit;
}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;

  // Fuck it... for now. Ain't got time to orchestrate the
  // perfect calc expression. Also, javascript API for CSS
  // is ugly and looks like a backwards compatibility influenced
  // hack, as there aren't enough hacks in the web already.
  // Since the spirit to have is "why the fuck not", why the
  // fuck not throw some 100vh offsets. It even looks good.
  transform: translateY(100vh);
}

.title-container {
  display: inline-block;
}

.title {
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  color: #444;
}

.main-nav {
  height: calc(100vh - var(--main-footer-height) - var(--main-header-height));
  flex-direction: column;
  justify-content: center;
}

.page-selector {
  margin-left: var(--main-nav-link-margin-left);
  font-size: var(--main-nav-link-font-size);
  line-height: calc(var(--main-nav-link-font-size) * 0.8);
}

.page-selector > span {
  line-height: inherit;
}

.page-selector:last-child {
  margin-bottom: 0;
}

.font-sans {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

.font-mono {
  font-family: var(--monospace-font);
  font-weight: 500;
  color: #444;
}

.parenthesis {
  font-family: var(--monospace-font);
  font-weight: 500;
}

.links-container {
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
}

.links-container > a {
  display: inline-block;
}

.links-container > a:last-child {
  margin-right: 0;
}

.links-icon {
  height: inherit;
}

.terminal {
  width: 0vw;
  height: 0vh;
  margin-left: var(--main-nav-link-margin-left);
  flex-shrink: 0;
  border-radius: 0rem;
  border-style: solid;
  border-color: #000;
  border-width: 0;
  background: rgba(28, 28, 28, 0.85);
  font-family: var(--monospace-font);
  font-size: var(--terminal-font-size);
  color: #fbf1c7;
  position: relative;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.terminal-text-container {
  overflow: hidden;
  height: inherit;
}

.terminal-command {
  transform: scale(0);
}

.loading-redirect {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  width: 1.5rem;
  /* See https://stackoverflow.com/a/53336754/15493645 */
  /* Equivalent to #d6d6d6 */
  filter: invert(85%) sepia(19%) saturate(16%) hue-rotate(337deg) brightness(94%)
    contrast(100%);
}

@include layouts.generic-queries;

@media all {
  @include layouts.mobile-ui;
}

/* prettier-ignore */
@media
  all and (
    ((min-width: 800px) and (min-height: 500px))
    or
    ((min-width: 300px) and (min-height: 300px))
  ) and (
    (min-aspect-ratio: 1/0.5)
    or (min-aspect-ratio: 0.5/1)
    or (min-aspect-ratio: 4/3)
    or (min-aspect-ratio: 3/4)
  ) {

  @include layouts.desktop-ui;

}

@include colors.gruvbox;
