@use "style/colors";

:root {
  font-size: 16px;
  --nickname-base-duration: 0.5s;
  --nickname-base-delay: 1.5s;
  --main-footer-icon-size: calc(var(--main-footer-height) * 0.65);
  --main-footer-title-size: calc(var(--main-footer-height) * 0.5);
  --main-nav-link-hide-speed: 0.5s;
  --monospace-font: "DM Mono", monospace;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d6d6d6;
  overflow-x: hidden;
  overflow-y: hidden;
}

a:active,
a:link,
a:visited,
a:hover {
  color: unset;
  text-decoration: none;
}

.main-header {
  height: 100vh;
}

.nickname-container {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: inherit;
  height: inherit;
}

.main-footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;

  // Fuck it... for now. Ain't got time to orchestrate the
  // perfect calc expression. Also, javascript API for CSS
  // is ugly and looks like a backwards compatibility influenced
  // hack, as there aren't enough hacks in the web already.
  // Since the spirit to have is "why the fuck not", why the
  // fuck not throw some 100vh offsets. It even looks good.
  transform: translateY(100vh);
}

.title-container {
  display: inline-block;
}

.main-footer .title {
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  color: #444;
}

.main-nav {
  height: calc(100vh - var(--main-footer-height) - var(--main-header-height));
  flex-direction: column;
  justify-content: center;
}

.main-nav a {
  margin-left: var(--main-nav-link-margin-left);
  font-size: var(--main-nav-link-font-size);
  line-height: calc(var(--main-nav-link-font-size) * 0.8);
}

.main-nav a > span {
  line-height: inherit;
}

.main-nav a:last-child {
  margin-bottom: 0;
}

.font-sans {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

.font-mono {
  font-family: var(--monospace-font);
  font-weight: 500;
  color: #444;
}
.parenthesis {
  font-family: var(--monospace-font);
  font-weight: 500;
}

.links-container {
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
}

.links-container a {
  display: inline-block;
}

.links-container a:last-child {
  margin-right: 0;
}

.links-icon {
  height: inherit;
}

.terminal {
  width: 0vw;
  height: 0vh;
  margin-left: var(--main-nav-link-margin-left);
  flex-shrink: 0;
  border-radius: 0rem;
  border-style: solid;
  border-color: #000;
  border-width: 0;
  background: rgba(28, 28, 28, 0.85);
  font-family: var(--monospace-font);
  font-size: var(--terminal-font-size);
  color: #fbf1c7;
  position: relative;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.terminal-text-container {
  overflow: hidden;
  height: inherit;
}

.terminal-cli-command {
  transform: scale(0);
}

.loading-redirect {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  width: 1.5rem;
  /* See https://stackoverflow.com/a/53336754/15493645 */
  /* Equivalent to #d6d6d6 */
  filter: invert(85%) sepia(19%) saturate(16%) hue-rotate(337deg) brightness(94%) contrast(100%);
}

@media screen and (orientation: portrait) {
  :root {
    --nickname-size: calc(85vw);
  }

  .nickname {
    width: var(--nickname-size);
  }
}

@media screen and (orientation: landscape) {
  :root {
    --nickname-size: calc(15vh);
  }

  .nickname {
    height: var(--nickname-size);
  }
}

// Mobile view
@media screen {
  :root {
    --main-header-height: calc(6vh + 2.5rem);
    --main-footer-height: calc(4vh + 1.5rem);
    --main-nav-link-font-size: calc(20vw);
    --main-nav-link-font-size-post-animation: calc(18vw);
    --main-nav-link-margin-left: 0;
    --full-terminal-width: calc(90vw);
    --full-terminal-height: 250px;
    --terminal-font-size: 11px;
  }

  .main-nav {
    display: flex; // block
    align-items: center;
    width: 100vw;
  }

  .main-nav a {
    margin-bottom: 1rem;
  }

  .main-footer {
    justify-content: center;
    flex-direction: column-reverse;
    height: unset;
  }

  .main-footer .title {
    margin: 0;
    font-size: 1.8rem;
  }

  .main-footer .title-container {
    margin-bottom: 0.5rem;
  }

  .main-footer .links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
    margin-bottom: 0.4rem;
  }

  .links-container a {
    height: 2rem;
  }

  @media (max-height: 550px) or (max-width: 320px) {
    :root {
      --full-terminal-height: calc(30vh);
    }

    .main-footer .title {
      font-size: 1.35rem;
    }
  }
}

@mixin desktop-ui {
  :root {
    --main-nav-link-font-size: calc((var(--main-header-height) + 1vw + 1vh) * 1.3);
    --main-nav-link-font-size-post-animation: calc(var(--main-nav-link-font-size) * 0.75);
    --main-nav-link-margin-left: calc(var(--main-nav-link-font-size) * 0.4);
    --full-terminal-width: calc(var(--main-nav-link-font-size) * (e * 1.7));
    --full-terminal-height: calc(var(--main-footer-height) * e * pi);
    --main-nav-link-leftmargin: 6rem;
    --terminal-font-size: calc(
      (var(--full-terminal-height) * 0.01 + var(--full-terminal-width) * 0.01) * 1.5
    );
  }

  .main-nav {
    display: inline-flex;
    align-items: unset;
    width: unset;
  }

  .main-nav a {
    margin-bottom: calc(var(--main-nav-link-margin-left) * 0.4);
  }

  .main-footer {
    justify-content: unset;
    flex-direction: unset;
    height: var(--main-footer-height);
  }

  .main-footer .title {
    margin-right: auto;
    margin-left: calc(var(--main-footer-title-size) * 0.5);
    font-size: var(--main-footer-title-size);
  }

  .main-footer .title-container {
    margin-bottom: unset;
  }

  .main-footer .links-container {
    display: inline-flex;
    flex-direction: unset;
    width: calc(var(--main-footer-icon-size) * 5);
    margin-bottom: unset;
  }

  .links-container a {
    height: var(--main-footer-icon-size);
  }

  @media (max-width: 550px) and (max-height: 600px) {
    :root {
      --main-footer-height: 4vh;
      --main-footer-icon-size: calc(var(--main-footer-height) * 0.5);
      --main-footer-title-size: calc(var(--main-footer-height) * 0.4);
    }
  }

  @media (max-width: 650px) {
    :root {
      --full-terminal-width: calc(100vw - var(--main-nav-link-margin-left) * 2);
      --terminal-font-size: 12px;
    }
  }

  @media (max-height: 1366px), (max-aspect-ratio: 0.5/1), (max-aspect-ratio: 1/0.5) {
    :root {
      --main-header-height: calc(7vh + 1rem);
      --main-footer-height: calc(4vh + 0.8rem);
    }
  }

  @media (max-height: 550px) {
    :root {
      --full-terminal-height: calc(30vh);
    }
  }
}

/* prettier-ignore */
@media screen {

  @media
    ((min-width: 800px) and (min-height: 500px)),
    ((min-width: 300px) and (min-height: 300px)) {

    @media
      (min-aspect-ratio: 1/0.5),
      (min-aspect-ratio: 0.5/1),
      (min-aspect-ratio: 4/3),
      (min-aspect-ratio: 3/4) {
        
      @include desktop-ui;

    }

  }

}

@include colors.gruvbox;
