rules_version = '2';

service firebase.storage {
  match /b/marcosdly-personal-website.appspot.com/o {
  	match /marcosdly.dev/personality/images/{basename} {
    	allow get: if resource.contentType.matches('image/[a-z]{3,4}$');
    }
  }
}