@mixin gruvbox {
  .gruvbox-aqua {
    color: #427b58;
  }

  .gruvbox-aqua-dark {
    color: #8ec07c;
  }

  .gruvbox-blue {
    color: #0a8299;
  }

  .gruvbox-purple {
    color: #8f3f71;
  }

  .gruvbox-yellow {
    color: #b57614;
  }

  .gruvbox-orange {
    color: #af3a03;
  }

  .gruvbox-red {
    color: #9d0006;
  }
}
