@mixin mobile-ui {
  :root {
    --photo-select-control-height: 1.5rem;
    --photo-select-button-height: 1.15rem;
    --p-font-size: 0.9rem;
    --p-line-height: 1.2;
    --p-margin-bottom: 0.5rem;
    --photos-carrousel-radius: 0.5rem;

    --article-header-height: calc(4vh + 2rem);
    --personal-link-icon-size: calc(var(--article-header-height) * 0.3 + 0.4rem);

    --article-width: 95vw;
    --article-height: calc(100vh - 1rem);
    --photos-carrousel-width: calc(var(--article-width) * 0.4);

    --empty-border-width: calc((100vw - var(--article-width)) / 2);

    --scrollbar-width: calc(var(--empty-border-width) * 0.65);
  }

  article {
    width: var(--article-width);
    height: var(--article-height);
    overflow: hidden;
  }

  .personal-links {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: calc(var(--personal-link-icon-size) * 0.5);
    width: var(--article-width);

    > a {
      width: initial;
      height: var(--personal-link-icon-size);
    }
  }

  .name-links-header {
    height: var(--article-header-height);
    width: inherit;
    justify-content: center;
    flex-direction: column;

    > h1 {
      font-size: calc(var(--article-header-height) * 0.05 + 1rem);
    }
  }

  main {
    height: calc(var(--article-height) - var(--article-header-height));

    h3 {
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: var(--p-font-size);
      line-height: var(--p-line-height);
      margin-bottom: var(--p-margin-bottom);
      letter-spacing: initial;
    }

    blockquote {
      font-size: var(--p-font-size);
      margin-bottom: var(--p-margin-bottom);
      padding: var(--photos-carrousel-radius);
      border-radius: var(--photos-carrousel-radius);

      p {
        text-align: center;
      }

      footer {
        margin: 0;
      }
    }

    .initial-capital {
      /* vertically centralized, width is determined by font-size */
      display: inline-flex;
      align-items: center;
      line-height: 0;

      /* if 'float' property is set, having height of exactly N lines forces the
      next to also reserve space */
      height: calc(var(--p-font-size) * var(--p-line-height) * 3 - 1px);
      font-size: calc(var(--p-font-size) * 3.2);
    }
  }

  .synthesis-photos-container {
    margin: 0;
    box-sizing: border-box;
    padding-right: 0.5rem;
  }

  .photos-carrousel {
    width: var(--photos-carrousel-width);
    height: calc(var(--photos-carrousel-width) * 1.4);
  }

  .select-container {
    height: var(--photo-select-control-height);
    width: calc(var(--photos-carrousel-width) * 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: calc(var(--photo-select-button-height) * 0.25);

    .select {
      position: initial;
      bottom: initial;
    }
  }

  .photo-select-control {
    height: var(--photo-select-control-height);
  }

  .synthesis-h2-title-photos-caption {
    font-size: 0.9rem;
  }

  .scrollbar {
    right: 0;
    width: var(--scrollbar-width);
    border-radius: var(--scrollbar-width) 0 0 var(--scrollbar-width);
    background-color: #fff;

    > .actual-bar {
      border-radius: inherit;
    }
  }
}

@mixin desktop-ui {
  :root {
    --p-font-size: 1.05rem;
    --p-line-height: 1.2;
    --p-margin-bottom: 0.8rem;
    --photos-carrousel-width: 250px;
    --photo-select-control-height: calc(var(--photos-carrousel-height) * 0.1);
    --article-width: 900px;
    --half-article-width: calc(var(--article-width) / 2);
    --scrollbar-width: 8px;
    --photos-carrousel-height: calc(var(--photos-carrousel-width) * 1.4);
    --scrollbar-position: calc(var(--empty-border-width) - var(--scrollbar-width) * 3);
    --personal-link-icon-size: calc(var(--article-header-height) * 0.3 + 0.5rem);
  }

  main {
    h3 {
      font-size: 1.5rem;
    }
  }

  .scrollbar {
    right: var(--scrollbar-position);
    border-radius: calc(var(--scrollbar-width) / 2);
  }

  .synthesis-photos-container {
    margin-right: 1rem;
    width: var(--photos-carrousel-width);
  }

  .photos-carrousel {
    width: var(--photos-carrousel-width);
    height: var(--photos-carrousel-height);
  }

  .select-container {
    width: calc(var(--photos-carrousel-width) * 0.4);
    column-gap: calc(var(--photo-select-button-height) * 0.4);
  }

  .synthesis-h2-title-photos-caption {
    font-size: calc(var(--photo-select-control-height) * 0.5 + 0.25rem);
  }

  .name-links-header {
    flex-direction: row;

    > h1 {
      width: var(--half-article-width);
      text-align: center;
      font-size: var(--personal-link-icon-size);
    }
  }

  .personal-links {
    width: var(--half-article-width);
  }

  @media (max-width: 950px) {
    :root {
      --p-line-height: 1.05;
      --p-margin-bottom: 0.65rem;

      --article-width: 90vw;

      --scrollbar-position: calc(var(--scrollbar-width) / 2);

      --photos-carrousel-width: calc(120px + var(--article-width) * 0.15 - 0.8rem);
      --photo-select-button-height: calc(
        var(--photo-select-control-height) * 0.5 + 5px
      );
    }

    .synthesis-photos-container {
      padding-right: 1.2ch;
    }

    .name-links-header > h1 {
      font-size: calc(var(--half-article-width) * 0.05 + 10px);
    }
  }

  @media (min-height: 1024px) {
    :root {
      --personal-link-icon-size: 2rem;
      --article-header-height: 80px;
    }
  }
}
